[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytesseract = "*"
numpy = "*"
pdf2image = "*"
pypdf2 = "*"
langdetect = "*"
pysimplegui = "*"
pillow = "*"
pymupdf = "*"

[requires]
python_version = "3.9"
